.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.MuiCircularProgress-colorPrimary {
    color: #ffb7c5 !important;
}

.popUp__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 100;
}

.popUp {
    z-index: 100;
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    max-width: 1000px;
    height: 40vh;
    box-shadow: 1px 1px 3px 5px rgba(0,0,0,0.2);
    border-radius: 2%;
    padding: 1em 2em;
}

.popUp p {
    margin: 0 2em;
}

.popUp__close {
    align-self: flex-end;
    margin-bottom: 10em;
    cursor: pointer;
}

.popup__message__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width: 1024px) {
    .popUp {
        font-size: 14px;
        margin-bottom: 5em;
    }

}

@media screen and (max-width: 376px) {
    .popUp__close {
        margin-bottom: 2em;
    } 
}