
.searchLink__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 100;
}

.searchLink {
    z-index: 100;
    position: fixed;
    background-color: #fff;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    box-shadow: 1px 1px 3px 5px rgba(0,0,0,0.2);
    border-radius: 2%;
    padding: 1em 2em;
}

.searchLink p {
    margin: 0 2em;
}

.popUp__close {
    align-self: flex-end;
    margin-bottom: 10em;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .searchLink {
        width: 60vw;
    }

    .popUp__close {
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 376px) {
    .popUp__close {
        margin-bottom: 3em;
    } 
}